* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo_container {
  display: flex;
  justify-content: center;
  padding: 15px 0 50px;
}
.logo_container img {
  width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav ul a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 15px 5px;
  margin: 0 10px;
}
nav ul a.active {
  background-color: #b2e5fc;
}
nav .burger {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .burger {
    display: block;
    text-align: center;
    color: #002d73;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.section_bg {
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-size: 75%;
  background-position: center;
  padding: 40px 0;
}
.section_bg h2 {
  color: #002d73;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 4px;
}
.section_bg .boxes {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .section_bg .boxes {
    padding: 0 16px;
  }
}
.section_bg .boxes .box {
  width: calc(100% / 3);
  padding: 4px;
}
@media screen and (max-width: 768px) {
  .section_bg .boxes .box {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .section_bg .boxes .box {
    width: 100%;
    padding: 4px 20px;
  }
}
.section_bg .boxes .box img {
  width: 100%;
  display: block;
}

.footer_top {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
.footer_top .col {
  width: calc(100% / 3);
}
@media screen and (max-width: 768px) {
  .footer_top .col {
    width: 100%;
    padding: 0 20px;
  }
}
.footer_top .col ul {
  list-style: none;
  color: #848d9b;
  font-size: 15px;
}
.footer_top .col img {
  width: 70%;
  max-width: 300px;
}
.footer_top .col.col-2 h4, .footer_top .col.col-3 h4 {
  font-size: 24px;
  font-weight: 600;
  color: #848d9b;
  text-transform: uppercase;
  padding: 10px 0;
}
.footer_top .col.col-2 li, .footer_top .col.col-3 li {
  padding: 5px 0;
}

.footer_bottom img {
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  background-color: #b7dae5;
  color: #002d73;
  padding: 40px 0;
}
.product h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.product img {
  width: 100%;
}
.product .chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  background-color: #dcedf2;
  font-size: 36px;
  height: 70px;
  width: 40px;
  border-radius: 5px;
}
