.footer_top {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;

  .col {
    width: calc(100% / 3);

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 20px;
    }

    ul {
      list-style: none;
      color: $text_color_grey;
      font-size: $text_small;
    }

    img {
      width: 70%;
      max-width: 300px;
    }

    &.col-2, &.col-3 {
      h4 {
        font-size: $text_big;
        font-weight: 600;
        color: $text_color_grey;
        text-transform: uppercase;
        padding: 10px 0;
      }

      li {
        padding: 5px 0;
      }
    }
  }
}

.footer_bottom {
  img {
    width: 100%;
  }
}